<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>

<h1>{{kol}} and {{ft}}</h1>
<!--
<h1>Welcome to the text analyzer.Enter text here</h1>

<form action='/removepun' method="get">
   <textarea name='text' style="margin: 0px; width: 840px; height: 60px;"></textarea><br>
    <input type="checkbox" name="removepun"> Remove Puntuation<br>
    <input type="checkbox" name="capital"> CAPITAL<br>
    <input type="checkbox" name="newlineremover"> New Line Remove<br>
    <button type="submit">Analyze text</button>
</form>

<h1>
    <a href="http://127.0.0.1:8000">Other site</a>
</h1>
-->
</body>
</html>